<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Placar</servlet-name>
        <servlet-class>servlets.Placar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TabelaDeClassificacao</servlet-name>
        <servlet-class>servlets.TabelaDeClassificacao</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Placar</servlet-name>
        <url-pattern>/placar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TabelaDeClassificacao</servlet-name>
        <url-pattern>/tabeladeclassificacao</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <context-param>
        <param-name>Flamengo</param-name>
        <param-value>Flamengo</param-value>
    </context-param>
    <context-param>
        <param-name>Palmeiras</param-name>
        <param-value>Palmeiras</param-value>
    </context-param>
    <context-param>
        <param-name>Santos</param-name>
        <param-value>Santos</param-value>
    </context-param>
    <context-param>
        <param-name>Internacional</param-name>
        <param-value>Internacional</param-value>
    </context-param>
    <context-param>
        <param-name>Corinthians</param-name>
        <param-value>Corinthians</param-value>
    </context-param>
    <context-param>
        <param-name>São Paulo</param-name>
        <param-value>São Paulo</param-value>
    </context-param>
    <context-param>
        <param-name>Bahia</param-name>
        <param-value>Bahia</param-value>
    </context-param>
    <context-param>
        <param-name>Grêmio</param-name>
        <param-value>Grêmio</param-value>
    </context-param>
    <context-param>
        <param-name>Atlético-MG</param-name>
        <param-value>Atlético-MG</param-value>
    </context-param>
    <context-param>
        <param-name>Botafogo</param-name>
        <param-value>Botafogo</param-value>
    </context-param>
    <context-param>
        <param-name>Athletico-PR</param-name>
        <param-value>Athletico-PR</param-value>
    </context-param>
    <context-param>
        <param-name>Vasco</param-name>
        <param-value>Vasco</param-value>
    </context-param>
    <context-param>
        <param-name>Ceará</param-name>
        <param-value>Ceará</param-value>
    </context-param>
    <context-param>
        <param-name>Fortaleza</param-name>
        <param-value>Fortaleza</param-value>
    </context-param>
    <context-param>
        <param-name>Goiás</param-name>
        <param-value>Goiás</param-value>
    </context-param>
    <context-param>
        <param-name>Fluminense</param-name>
        <param-value>Fluminense</param-value>
    </context-param>
    <context-param>
        <param-name>Cruzeiro</param-name>
        <param-value>Cruzeiro</param-value>
    </context-param>
    <context-param>
        <param-name>CSA</param-name>
        <param-value>CSA</param-value>
    </context-param>
    <context-param>
        <param-name>Chapecoense</param-name>
        <param-value>Chapecoense</param-value>
    </context-param>
    <context-param>
        <param-name>Avaí</param-name>
        <param-value>Avaí</param-value>
    </context-param>
</web-app>
